<!doctype html>
<html>
  <head>
    <title>Park Monuments</title><style>
      h1 {color:darkolivegreen;}
      p {color:rgb(51, 55, 55);}
      </style>
      <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#borough">Parks by Borough</a>
        <input type="text" placeholder="Search">
  
  </head>
  <body style="background-color:rgb(212, 219, 218);">
    <h1 style="text-align: center;">Park Monuments in New York City</h1>
    <h3>Park monuments in the five boroughs of New York City.</h2>
   
    <p>You have {{parks_list | length}} parks.</p>
  </body>
</html>
