<head>
    <title>Parks by Borough</title>
    <style>
      h1 { color: darkolivegreen; }
      h3 { color: rgb(46, 70, 49); }
      p {color:rgb(28, 37, 28)}
      a { color: darkblue; text-decoration: none; }
      a:hover { text-decoration: underline; }
    </style>
  </head>
  <body style="background-color:rgb(212, 219, 218);">
    
    <h1 style="text-align: center;">How To Contact the NYC Parks and Recreation Department</h1>
    <h3>By Phone:</h3>
      <p>311</p>
    <h3> By Mail:</h3>
      <p>The Arsenal, Central Park, 830 Fifth Avenue, New York, NY 10065</p>
    <h3>For Press Inquiries</h3>
      <p>pressoffice@parks.nyc.gov</p>
    <p style="font-weight: 600;">For more information, please visit their website, which can be found on the About page. </p>
    <a href="{{ url_for('home') }}">Back to Home</a>
  </body>
</html>