<!doctype html>
<html>
 
<style>

</style>
  <head>
    <title>Park Monuments</title><style>
      h1 {color:darkolivegreen;}
      h3 {color:rgb(9, 43, 9);}
      p {color:rgb(14, 68, 27);}
      </style>
      <div class="topnav">
        <a class="active" href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/contact">How to Contact</a>
        <form action="/search" method="get" style="display: inline;">
          <input type="text" name="query" placeholder="Search">
          <button type="submit">Go</button>
        </form>
        <a href="https://github.com/jcw2245/PROJECT/blob/main/Diary_About_Work.ipynb">Description of Work For This Project (REPOSITORY) </a>
        </div>
        
  
  </head>
  <body style="background-color:rgb(212, 219, 218);">
    <h1 style="text-align: center;">Park Monuments in New York City</h1>
    
      <h3>List of park monuments:</h3>
      <ul>
        {% for park in parks %}
          <li><strong>{{ park['title'] }}</strong>: {{ park['desc'] }} ({{ park['loc'] }})</li>
        {% endfor %}
      </ul>
  
      <div class="pagination">
        {% if has_prev %}
          <a href="/?page={{ page - 1 }}&per_page={{ per_page }}">Previous</a>
        {% endif %}
        {% if has_next %}
          <a href="/?page={{ page + 1 }}&per_page={{ per_page }}">Next</a>
        {% endif %}
      </div>
  
      <p>Page {{ page }}</p>
      
  </p>

  </body>
</html>
